@import common.Views._
@(workflows: Seq[WorkflowView], wfDefNames: Seq[String], webJarAssets: WebJarAssets)(implicit flash: Flash)
@main(webJarAssets)(breadcrumbs()) {

@if(flash.data.contains("success")) {
<div class="alert alert-success" role="alert">@flash.get("success")</div>
}
@if(flash.data.contains("error")) {
<div class="alert alert-danger" role="alert">@flash.get("error")</div>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Start a workflow</h3>
    </div>
    <div class="panel-body">
        <form action="@routes.Application.createWorkflow()" method="post">
            <div class="row col-md-8">
                <div class="form-group">
                    <label for="wf-label">Workflow label</label>
                    <input type="text"
                           placeholder="Label"
                           id="wf-label"
                           name="label"
                           class="form-control">
                </div>
                <div class="form-group">
                    <label for="wf-def-name">Workflow definition</label>
                    <select class="form-control" id="wf-def-name" name="name">
                        @for(defName <- wfDefNames) {
                        <option>@defName</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Active workflows</h3>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="width: 60px; text-align: center;">ID</th>
            <th>Description</th>
            <th style="width: 200px;">Type</th>
            <th style="width: 200px;">Status</th>
        </tr>
        </thead>
        <tbody>
        @for(wf <- workflows) {
        <tr>
            <th scope="row" style="text-align: center;">@wf.id</th>
            <td><a href="@routes.Application.workflow(wf.id)">@wf.label</a></td>
            <td>@wf.name</td>
            <td>@wf.state</td>
        </tr>
        }
        </tbody>
    </table>
</div>
}
