@(webJarAssets: WebJarAssets)(breadcrumb: Html)(flash: Flash)(content: Html)
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>scala-workflow</title>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/font-awesome.min.css"))'>
    <script src='@routes.WebJarAssets.at(webJarAssets.locate("jquery.min.js"))'></script>
    <script src='@routes.WebJarAssets.at(webJarAssets.locate("js/bootstrap.min.js"))'></script>
    <style>
        body {
            font-size: 16px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>scala-workflow</h1>

    @breadcrumb

    @if(flash.data.contains("success")) {
    <div class="alert alert-success" role="alert">@flash.get("success")</div>
    }
    @if(flash.data.contains("error")) {
    <div class="alert alert-danger" role="alert">@flash.get("error")</div>
    }

    @content

</div>
</body>
</html>