@import common.Views._
@(wfPath: List[WorkflowView], task: ManualTaskView, isDone: Boolean, webJarAssets: WebJarAssets)(implicit flash: Flash)
@main(webJarAssets)(breadcrumbs(wfPath.last.id, task.id))(flash) {
<blockquote>
    <p>
        Workflow: @wfPath.last.name (#@wfPath.last.id)<br/>
        Task: @task.defName (#@task.id) @if(isDone){<br/>
        Executed!}
    </p>
</blockquote>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Task attributes
        </h3>
    </div>
    <div class="panel-body">
        <form action="@routes.Application.executeManualTask(wfPath.last.id, wfPath.head.id, task.id)" method="post">
            @for((f, i) <- task.fields.zipWithIndex){
            <div class="row">
                <div class="form-group col-md-8">
                    <label for="input-@i">@f.label</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="input-@i" aria-describedby="basic-addon-@i"
                               value="@f.valueToString" name="@f.name" @if(isDone){disabled}>
                        <span class="input-group-addon" id="basic-addon-@i">
                            @f match {
                                case _: ManualTaskStringFieldView => {String}
                                case _: ManualTaskIntFieldView => {Int}
                            }
                        </span>
                    </div>
                </div>
            </div>
            }
            @if(!isDone){
            <button type="submit" class="btn btn-primary">Submit</button>
            }
        </form>
    </div>
</div>
}
