@import common.Views._
@(wf: WorkflowView[_], task: ManualTaskView[ManualTaskFieldViewBase], webJarAssets: WebJarAssets)
@main(webJarAssets)(breadcrumbs(wf.id, task.id)) {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Task attributes</h3>
        </div>
        <div class="panel-body">
            <form>
                @for((f, i) <- task.fields.zipWithIndex){
                <div class="form-group">
                    <label for="input-@i">@f.label</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="input-@i" aria-describedby="basic-addon-@i" value="@f.valueToString">
                        <span class="input-group-addon" id="basic-addon-@i">
                            @f match {
                                case _: ManualTaskStringFieldView => {String}
                                case _: ManualTaskIntFieldView => {Int}
                            }
                        </span>
                    </div>
                </div>
                }
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
}
