@(wfId: Int, taskId: Int, webJarAssets: WebJarAssets)
@main(webJarAssets)(breadcrumbs(wfId, taskId)) {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Task attributes</h3>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="a">Password</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Recipient's username" id="a" aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2">Integer</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
}
