@import common.Views._
@(wf: WorkflowView, isDone: Boolean, webJarAssets: WebJarAssets)(implicit flash: Flash)
@main(webJarAssets)(breadcrumbs(wf.id))(flash) {
    <blockquote>
        <p>
            Workflow: @wf.name (#@wf.id)
            @if(isDone){<br/> Executed!}
        </p>
    </blockquote>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Tasks</h3>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 60px; text-align: center;">ID</th>
                <th>Name</th>
                <th style="width: 200px;">Status</th>
            </tr>
            </thead>
            <tbody>
            @for(task <- wf.tasks) {
            @displayTask(task, wf.id, wf.id, "")
            }
            </tbody>
        </table>
    </div>
    @if(!isDone){
    <small>Please refresh the page to get the latest workflow state.</small>
    }
}

@displayTask(task: TaskViewBase, wfRootId: Int, wfId: Int, prefix: String) = {
    @if(task.isInstanceOf[SubWorkflowTaskView]) {
        @for(t <- task.asInstanceOf[SubWorkflowTaskView].subwf.get.tasks) {
            @displayTask(t, wfRootId, task.asInstanceOf[SubWorkflowTaskView].subwf.get.id, task.defName)
        }
    }
    <tr>
        <th scope="row" style="text-align: center;">@task.id</th>
        <td>
            @task match {
            case t: ManualTaskView => { <a href="@routes.Application.task(wfRootId, wfId, task.id)">@prefix @task.defName</a> }
            case t: SubWorkflowTaskView => { @prefix @task.defName }
            case t: TaskView => { @prefix @task.defName }
            }
        </td>
        <td>@task.state</td>
    </tr>
}

