@import common.Views._
@(wf: WorkflowView, webJarAssets: WebJarAssets)
@main(webJarAssets)(breadcrumbs(wf.id)) {
    <blockquote>
        <p>Workflow: @wf.name (#@wf.id)</p>
    </blockquote>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Tasks</h3>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 60px; text-align: center;">ID</th>
                <th>Name</th>
                <th style="width: 200px;">Status</th>
            </tr>
            </thead>
            <tbody>
            @for(task <- wf.tasks) {
            <tr>
                <th scope="row" style="text-align: center;">@task.id</th>
                <td>
                    @task match {
                    case t: ManualTaskView => { <a href="@routes.Application.task(wf.id, task.id)">@task.defName</a> }
                    case t: TaskView => { @task.defName }
                    }
                </td>
                <td>@task.state</td>
            </tr>
            }
            </tbody>
        </table>
    </div>
}
