@(name:String, webJarAssets: WebJarAssets)
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>scala-workflow</title>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/font-awesome.min.css"))'>
    <script src='@routes.WebJarAssets.at(webJarAssets.locate("jquery.min.js"))'></script>
    <script src='@routes.WebJarAssets.at(webJarAssets.locate("js/bootstrap.min.js"))'></script>
    <style>
        body {
            font-size: 16px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>scala-workflow</h1>

    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Workflow #231</a></li>
        <li class="active">Task #121</li>
    </ol>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Tasks</h3>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 60px; text-align: center;">ID</th>
                <th>Name</th>
                <th style="width: 200px;">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" style="text-align: center;">1</th>
                <td>Start</td>
                <td>Running</td>
            </tr>
            <tr>
                <th scope="row" style="text-align: center;">2</th>
                <td><a href="#">Manual task</a></td>
                <td>Waiting on manual task</td>
            </tr>
            <tr>
                <th scope="row" style="text-align: center;">3</th>
                <td>End</td>
                <td>Done</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>